<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match regex with test strings</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    
    <nav class="navbar">
            <a class="navbar-link" href="/">Regex Matcher</a>
            <a class='navbar-link' href="/emailvalidator">Email Validator</a>
    </nav>
    
    <div class="container">
        <div class="form-container">
            
            <h1>Regex Matcher</h1>
            
            <form action="" method="post" id="form">
                <label for="regex">Regular Expression</label>
                <input type="text" id='regex' name='regex' placeholder="Enter any regular expression">
                </br>
                <label for="string">Test String</label>
                <textarea id="string" name="string" rows="10" placeholder="Enter string to match"></textarea>
                </br>
                
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="results-container">
            <h1>Matches Information</h1>
            <div class="results-container-lists" id="formatted_matches"> 
                <p>No matches found or invalid regular expression.</p> 
            </div>
        </div>        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/index.js"></script>
</body>
</html>